<!-- Left Sidebar -->
<div class="left-sidebar">
    <!-- Personal Information -->
    <div class="personal-info">
        <!-- Profile Picture -->
        <img src="/assets/profile-picture.jpg" alt="Profile Picture">
        <!-- Personal Details -->
        {% if site.author.name -%}
        <li class="p-name">{{ site.author.name | escape }}</li>
        {% endif -%}
        {% if site.author.email -%}
        <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
        {%- endif %}
    </div>
    <!-- Other Sidebar Content -->
    <div class="sidebar-content">
        <!-- Add any other desired content here -->
    </div>
</div>