.post-item {
  display: flex;
}

.post-image {
  width: 240px;
  height: 111px;
  margin-right: 10px;
}

.image-class {
  height: 100%;
}

.post-data {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .post-item {
    display: flex;
    flex-direction: column;
    max-height: 355px;
  }

  .post-image {
    width: 100%;
    height: auto;
  }

  .image-class {
    /*height: auto;
   // max-height: 289px;*/
    width: 100%;
    object-fit: contain;
  }

  .post-data {
    width: 100%;
  }
}

.action-copy-header {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-top: 1rem;
}

.action-copy-button {
  padding: 0.75rem 1.5rem;
  background-color: #222;
  color: #fff;
  font-size: 11px;
  margin-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.action-copy-button:hover {
  background-color: #444;
}

p {
  text-align: justify;
}
