.post-item {
  display: flex;
}

.post-image {
  width: 240px;
  height: 111px;
  margin-right: 10px;
}

.image-class {
  height: 100%;
}

.post-data {
  width: 80%;
}

@media only screen and (max-width: 600px) {
  .post-item {
    display: flex;
    flex-direction: column;
  }

  .post-image {
    width: 100%;
    height: auto;
  }

  .image-class {
    /*height: auto;
   // max-height: 289px;*/
    object-fit: contain;
  }

  .post-data {
    width: 100%;
  }
}
